<div class="mb-3">
  <label for="formGroupFirstName" class="form-label">First Name</label>
  <input type="text" class="form-control" id="formGroupFirstName" value="<%= friend.first_name %>" disabled>
</div>
<div class="mb-3">
  <label for="formGroupLastName" class="form-label">Last Name</label>
  <input type="text" class="form-control" id="formGroupLastName" value="<%= friend.last_name %>" disabled>
</div>
<div class="mb-3">
  <label for="formGroupEmail" class="form-label">Email</label>
  <input type="text" class="form-control" id="formGroupEmail" value="<%= friend.email %>" disabled>
</div>
<div class="mb-3">
  <label for="formGroupPhone" class="form-label">Phone</label>
  <input type="text" class="form-control" id="formGroupPhone" value="<%= friend.phone %>" disabled>
</div>
<div class="mb-3">
  <label for="formGroupTwitter" class="form-label">Twitter</label>
  <input type="text" class="form-control" id="formGroupTwitter" value="<%= friend.twitter %>" disabled>
</div>
