<% if user_signed_in? %>
  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th> <!-- Atualize o nome da coluna -->
      <th scope="col">Email</th>      <!-- Atualize o nome da coluna -->
      <th scope="col">Phone</th>      <!-- Atualize o nome da coluna -->
      <th scope="col">Twitter</th>    <!-- Atualize o nome da coluna -->
      <th scope="col">Actions</th>
      <th scope="col">User Id</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @friends.each_with_index do |friend, index| %>
      <% if friend.user == current_user %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td>
            <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
          </td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= friend.user_id %></td>
          <td></td>
          <td>
            <%= link_to "Delete", friend, method: :delete, data:{confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>

          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <%= link_to "New friend", new_friend_path, class: "btn btn-success" %>
<% else %>
  <h1>Hello World!</h1>
  This is my first Rails webpage!
<% end %>